/*
================================================================================
|                                     HEADER                                   |
================================================================================
*/

header {
    background: #ffffff;
    min-width: $min-width;
    text-align: left;
    order: 1;
    -webkit-order: 1;
}

.header__top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    padding: 33px 12px 15px 12px;
}

.header__bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 18px 12px 13px 12px;
    border-top: 1px solid #dddfdf;
    border-bottom: 1px solid #dddfdf;
}

header {
    .wrapper {
        max-width: 1320px;
        width: 100%;
    }
    i {
        display: inline-block;
        vertical-align: middle;
        font-style: normal;
    }
}

.header__logo {
    flex: 0 1.46 247px;
    img {
        padding-bottom: 5px;
        width: 100%;
    }
}

.header__textlogo {
    color: #747688;
    font-size: 14px;
    font-weight: 400;
}

.header__search,
.header__search input,
.header__logo,
.header__phone,
.header__timetable,
.header__cart,
.login__icon,
.search__submit,
.search__field,
.header__login {
    display: inline-block;
    vertical-align: middle;
}

.header__contact {
    flex: 0 1.5 336px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header__top_left {
    max-width: 790px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    margin-right: 5%;
    flex: 0 1 786px;
}


.header__top_right {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex: 0 1 336px;
    margin: -17px 0 0 0;
}

.search__field {
    position: relative;
}

.header__search {
    flex: 0 3 496px;
    margin: 0 6% 0 2%;
}

.search__field {
    width: 100%;
}

.search__input {
    max-width: 496px;
    width: 100%;
    height: 40px;
    border: 1px solid #b9b8bd;
    font-size: 13px;
    color: #000;
    padding: 0 34px 0 9px;
    margin: -4px 0 0 0;
    border-radius: 5px;
}

.search__button {
    position: absolute;
    top: 5px;
    right: 3px;
    border: none;
    background: transparent;
}

.search__icon {
    width: 18px;
    height: 18px;
    background: url(../img/sprite.png) no-repeat -1px -1px;
}

.header__phone {
    margin-top: 5px;
}

.header__cart {
    margin-right: 16px;
    font-size: 16px;
    letter-spacing: -0.1px;
}

.phone__link {
    color: #181616;
    font-size: 23px;
    font-weight: 400;
}

.header__timetable p {
    padding: 0;
    font-size: 14px;
    font-weight: 400;
}

.header__date {
    color: $gold-color;
}

.menu__burger {
    width: 16px;
    height: 12px;
    background: url(../img/sprite.png) no-repeat -90px -1px;
    margin-right: 7px;
}

.menu__s-marker_type_1 {
    width: 11px;
    height: 7px;
    background: url(../img/sprite.png) no-repeat -70px -1px;
    margin-left: 5px;
}

.menu__s-marker_type_2 {

    position: absolute;
    right: 16px;
    top: 7px;
    background: url(../img/sprite.png) no-repeat -246px -70px;
    width: 9px;
    height: 13px;
}


.menu__item {
    display: inline-block;
    margin-right: 19px;
    position: relative;
    .menu__link {
        color: #181818;
        font-size: 16px;
    }
    .menu__sub:first-child {
        margin-top: 31px;
    }
    .menu__sub {
        position: absolute;
        display: none;
        left: 0px;
        top: 100%;
        z-index: 10;
        width: 245px;
        text-align: left;
        font-size: 15px;
        font-weight: 400;
        margin: 0px 0px 0px -13px;
        padding: 29px 0 0 0;
    }
}

.header__menu {
    .menu__item {
        font-weight: 700;
    }
}


.header__bottom_right {
    font-size: 14px;
    font-weight: 700;
    a {
        color: #181818;
    }
}


.menu__sub .menu__sub .sub_menu {
    position: absolute;
    left: 100%;
    top: -15px;
    margin-left: 0px;
    z-index: 10;
    width: 255px;
}

.sub__list {
    margin: 15px 0 0 0;
    background: #FFF;
    border: 1px solid #dddfdf;
    border-radius: 4px;
    padding: 11px 0 18px;
    box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.4);
    .menu__link {
        display: block;
        padding: 4px 12px 1px 31px;
        position: relative;
        font-size: 15px;
        color: #666666;
        line-height: 19px;
    }
}

.sub__item {
    display: block;
    list-style-type: none;
    margin: 5px 0 6px 0;
    position: relative;
    &:before {
        display: block;
        content: '';
        position: absolute;
        left: 15px;
        top: 10px;
        width: 6px;
        height: 6px;
        border: 1px solid #cf9c59;
        border-radius: 50%;
    }
    &:hover {
        background-color: #e3e3e4;
    }
}


.menu__s-m:hover>.menu__sub {
    display: block;
}

.menu__sub {
    .menu__sub {
        top: 0px;
        left: 100%;
        padding: 0 0 0 4px;
        margin: -11px 0 0 0;
        .sub__item:first-child:before {
            display: none;
        }
        .sub__item:first-child:hover {
            background: none;
        }
    }
    .sub__list {
        margin: 0px 0 0 0;
    }
}

.sub__title {
    color: #cb944c;
    padding-left: 15px;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 11px;
}


.cart__icon {
    width: 23px;
    height: 23px;
    background: url(../img/sprite.png) no-repeat -33px -1px;
    margin: -1px 0 0px 0px;
}

.counter__circle {
    width: 23px;
    height: 21px;
    border-radius: 50%;
    background-color: $gold-color;
    line-height: 21px;
    text-align: center;
    color: #ffffff;
    margin: -1px 2px 2px 9px;
}

.login__icon {
    width: 19px;
    height: 17px;
    background: url(../img/sprite.png) no-repeat -120px -1px;
    margin-right: 4px;
}

.login__text {
    letter-spacing: 0.8px;
    font-size: 16px;
}

.header__bottom_right_hide_tablet {
    display: block;
}

.header__middle_show_tablet {
    display: none;
    text-align: right;
    color: #252a54;
    font-size: 10px;
    font-weight: 700;
    padding-bottom: 9px;
}

.header__top_show_mobile {
    display: none;
}


@media screen and (max-width: 1200px) {
    .header__bottom_right_hide_tablet {
        display: none;
    }
    .header__top_show_mobile {
        display: none;
    }

    .header__middle_show_tablet {
        display: block;
        padding-bottom: 7px;
    }
}

@media screen and (min-width: 992px) {}

@media screen and (max-width: 991px) {}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .header__top {
        padding: 24px 12px 5px 12px;
    }
    .menu__item {
        margin-right: 0px;
        >.menu__link {
            font-size: 13px;
        }
    }
    .cart__icon {
        width: 15px;
        height: 15px;
        background-position: -27px -23px;
        background-size: 1849%;
    }
    .counter__circle {
        width: 21px;
        height: 17px;
        line-height: 17px;
        margin: -1px -2px 2px 0px;
    }
    .header__bottom {
        padding: 17px 12px;
    }
    .header__timetable p {
        font-size: 10px;
        line-height: 13px;
    }
    .header__logo img {
        padding-bottom: 2px;
    }

    .header__textlogo {
        font-size: 13px;
    }
    .header__menu {
        display: flex;
        justify-content: space-between;
    }
    .header__bottom_left {
        width: 100%;
    }

    .menu__item .menu__sub {
        margin: 0;
        padding: 26px 0 0 0;
    }
    .menu__sub .menu__sub {
        margin: -11px 0 0 0;
        padding: 0 0 0 4px;
    }
    .sub__title {
        font-size: 15px;
    }

    .menu__burger {
        width: 14px;
        height: 11px;
    }
    .phone__link {
        font-size: 15px;
    }
    .search__input {
        height: 31px;
        margin: 0;
        font-size: 10px;
    }
    .search__icon {
        width: 11px;
        height: 11px;
        background-position: 0px 0px;
        background-size: 1783%;
    }
    .header__contact {
        margin-top: -6px;
    }
    .header__search {
        margin: 0 3.6% 0 5.7%;
    }
    .header__cart {
        margin-right: 13px;
        font-size: 13px;
    }
    .login__text {
        letter-spacing: 0.8px;
        font-size: 13px;
        margin: 0px 11px 0 0;
    }
    .login__icon {
        margin-right: 0px;
    }
}

@media screen and (max-width: 767px) {
    .header__logo {
        flex: 0 0 192px;
    }
    .header__top {
        padding: 13px 0 18px 18px;
    }
    .header__textlogo {
        color: #747688;
        font-size: 13px;
    }
    .slider__block {
    margin-top: 0px;
}
    .header__top_hide_mobile,
    .header__bottom,
    .header__middle_show_tablet {
        display: none;
    }
    .header__top_show_mobile {
        display: block;
        max-height: 40px;
        background-color: #f0f1f6;
        .header__menu {
            display: flex;
            justify-content: space-around;
        }
        .menu__item {
            margin: 0;
            height: 40px;
            flex: 1 1;
            display: flex;
            .menu__link {
                text-align: center;
                line-height: 40px;
                width: 100%;
            }
            &:hover {
                background-color: #3eade2;
            }
            &:first-child {
                background-color: #3eade2;
            }
        }
        .burger__icon {
            width: 16px;
            height: 16px;
            background: url(../img/mobile_sprite.png) no-repeat 0px 0px;
        }
        .home__icon {
            width: 22px;
            height: 16px;

            background: url(../img/mobile_sprite.png) no-repeat -52px 0px;
        }
        .search__icon {
            width: 16px;
            height: 16px;
            background: url(../img/mobile_sprite.png) no-repeat -108px 0px;
        }
        .cart__icon {
            width: 17px;
            height: 17px;

            background: url(../img/mobile_sprite.png) no-repeat -163px 0px;
        }
        .login__icon {
            width: 19px;
            height: 16px;
            margin: 0;
            background: url(../img/mobile_sprite.png) no-repeat -215px -1px;
        }
        .call__icon {
            width: 16px;
            height: 17px;
            background: url(../img/mobile_sprite.png) no-repeat -266px -1px;
        }
    }

    header .wrapper,
    main .wrapper {
        padding: 0;
    }
}